.header-container {

    display: grid;
    /* place-content: center; */

    justify-content: center;
    align-content: center;
}


.to-do-list-container {
    display: grid;

    justify-content: center;
    align-content: center;
    margin-top: 10em;
}

.list-group-style {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.list-group-style li {
    display: list-item;
    margin: 0px;
}